*{
    padding: 0px;
    margin: 0px;
box-sizing: border-box;
}
body{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    
}
.container{
    background-color: black;
color: aliceblue;
width: 80%;
height: 250px;;
margin-top: 150px;
margin-right: auto  ;
margin-bottom:auto  ;
margin-left: auto ;
padding: 18px;
}
.first{
    display: flex;
    justify-content: space-between;
}
h1{
    text-align: center;
    margin-bottom: 25px;
}
.query{
position: relative;

    
}
.mark{
    height: 35px;
    width: 80px;
    border-radius: 10px;
    background: linear-gradient(to bottom, #b6e325 0%, #cc0099 100%);
position: absolute;
    right: 395px;
    top: -18px;
    color: rgb(247, 243, 251);
font-size: xx-large;

}
.last{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}
.input{
    position: absolute;
    top: 260px;
right: 684px;
    margin-top: 60px;
}
button{
    border: 2px solid ;
    border-color: #e60a27;
    padding: 4px;
    color: #b7e60e;
    border-radius: 50px;
    background-color :  #232b1f 
}

ul{
margin-top: 55px;

}
li{
    margin-bottom: 10px;

}

h2{
    position: absolute;
    padding-top: 25px;
top: 244px;
right: 184px;
}
:hover{
    color: #df1c1c;
}

.this{
    margin-top: 50px;
    color:  #00becc ;
    font-weight: 800;
    font-size: 23px;
}
.btn{
    margin-left: 5px;
    padding: 5px;
}
#check{
    padding: 0px 10px 0px 10px;
}

#extra_btn{
    position: absolute;
    top: -28px;
    left: 160px;
margin-top: 17px;
color: #c6fb14;
border-radius: 10px;
}